html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0
}

#map{
	height: 100%;
	width: 100%;
}

#fork{
	z-index: 10;
	position: fixed;
	float: right;
	right:0;
	top: 0;
	width: 150px;
	height: 150px;
}

#panel-lang{
	z-index: 10;
	position: fixed;
	left:0px;
	top:0px;
	height:100%;
	border:1px solid black;
	background-color: rgba(255,255,255,0.9)
}

#panel-lang select{
	font-size:12pt;
	background-color: rgba(0,0,0,0);
	border:none;
}